<div class="icons">
  <div class="icon" *ngFor="let player of (_data.players | async) | myfilter:filterargs">
    <img *ngIf="player.active" [src]="'./assets/' + player.token + '.png'"><span *ngIf="player.active" [class]="moneyClass(player)">${{player.money}}</span>
  </div>
</div>
<h2 class="notification">{{_game.notification}}</h2>
<div style="height: 150px; margin-bottom: 20px;">
  <div *ngIf="timeLeft > 0" class="timer">
    <h3>{{timeLeft}}</h3>
  </div>
  <div style="position: relative; width: 100%; height: 75px; display: flex; justify-content: center; align-items: center;">
    <div style="position: absolute; width: 300px; height: 75px;">
      <div *ngIf="_game.pendingAction == 'buy'" style="height: 75px; width: 300px; position: absolute; top: 0; left: 0; display: flex; justify-content: center; align-items: center;">
        <h3 class="property-price">${{_game.lastScannedProperty.buy}} <span style="font-weight: 200;">or</span> </h3>
        <img class="auction-image" src="./assets/auction.png">
      </div>
    </div>
  </div>
</div>

<div *ngIf="gameOver" class="play-button-container">
  <img class="play-button" src="./assets/play.png" (click)="restartGame()">
</div>

<div *ngIf="!gameOver" [class]="statusLight"></div>

<div *ngIf="!gameOver" class="icons" style="position: absolute; left: 0; bottom: 0; height: 100px;">
  <img src="./assets/passGo.png" class="pass-go" (click)="passGo()">
  <img src="./assets/tax-100.png" class="pass-go" (click)="payTax(100)">
  <img src="./assets/tax-200.png" class="pass-go" (click)="payTax(200)">
  <img src="./assets/free-parking.png" class="pass-go" (click)="freeParking()">
</div>


<!--<div class="scan-cards-div">
  <button style="margin-bottom: 10px" *ngFor="let player of _data.currentPlayers" [hidden]="!(player.active)" (click)="scanPlayerCard(player.id)">Scan {{player.token}}</button>
</div>

<div class="scan-property-div">
  <button style="margin-bottom: 10px" *ngFor="let property of _data.currentProperties" (click)="fakeScan(property.id)">Scan {{property.name}}</button>
</div>-->
