:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timer {
  background-color: rgba(255,255,255,0.1);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
  font-size: 1.3em;
  margin: 10px 0 20px;
}

.icons {
  width: 100%;
  display: flex;
  background-color: rgba(255,255,255,0.1);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.notification {
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.icon {
  height: 100%;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.icons .icon .money {
  font-size: 1.3em;
  color: white;
}

.icons .icon img {
  max-height: 50px;
  height: 50px;
  display: block;
}

.pass-go {
  height: 80px;
}

.pass-go:hover {
  cursor: pointer;
}

.property-price {
  color: white;
  font-size: 1.3em;
  margin-right: 10px;
}

.auction-image {
  background-color: white;
  width: 90px;
  overflow: hidden;
  border-radius: 50%;
  height: 90px;
}

.auction-image:hover {
  cursor: pointer;
}

.red-money {
  color: #e74c3c !important;
}

.green-money {
  color: #2ecc71 !important;
}

.status {
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.status.yellow {
  background-color: #f1c40f;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #f39c12 0 -1px 9px, #f1c40f 0 2px 12px;
}

.status.green {
  background-color: #2ecc71;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #27ae60 0 -1px 9px, #2ecc71 0 2px 12px;
}

.status.blue {
  background-color: #3498db;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 12px;
  -webkit-animation: blinkBlue 1s infinite;
  -moz-animation: blinkBlue 1s infinite;
  -ms-animation: blinkBlue 1s infinite;
  -o-animation: blinkBlue 1s infinite;
  animation: blinkBlue 1s infinite;
}

.status.red {
  background-color: #e74c3c;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #c0392b 0 -1px 9px, #e74c3c 0 2px 12px;
}

@-webkit-keyframes blinkBlue {
    from { background-color: #3498db; }
    50% { background-color: #2980b9; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 0; }
    to { background-color: #3498db; }
}
@-moz-keyframes blinkBlue {
    from { background-color: #3498db; }
    50% { background-color: #2980b9; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 0; }
    to { background-color: #3498db; }
}
@-ms-keyframes blinkBlue {
    from { background-color: #3498db; }
    50% { background-color: #2980b9; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 0; }
    to { background-color: #3498db; }
}
@-o-keyframes blinkBlue {
    from { background-color: #3498db; }
    50% { background-color: #2980b9; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 0; }
    to { background-color: #3498db; }
}
@keyframes blinkBlue {
    from { background-color: #3498db; }
    50% { background-color: #2980b9; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2980b9 0 -1px 9px, #3498db 0 2px 0; }
    to { background-color: #3498db; }
}


///ONLY FOR TESTING////////////////

.scan-cards-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 490px;
  left: 10px;
}

.scan-property-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 490px;
  right: 10px;
}
