<div class="waiting-for-players">
  <img class="logo" src="./assets/logo.png" alt="">
  <h3>Scan Player Cards...</h3>
  <div class="loader-container">
    <div class="loader">Loading...</div>
  </div>
  <div class="icons">
    <div *ngFor="let player of (_data.players | async)">
      <img *ngIf="player.active" [src]="'./assets/' + player.token + '.png'">
    </div>
  </div>
  <div class="play-button-container">
    <img class="play-button" src="./assets/play.png" (click)="startGame()" [hidden]="_data.activePlayerCount()">
  </div>
</div>
