:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.waiting-for-players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.icons {
  height: 100px;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons img {
  height: 60px;
  object-fit: contain;
  margin: 0 10px;
  display: block;
}

.logo {
  height: 240px;
  margin-top: -80px;
}

h3 {
  color: #f2f2f2;
  margin: -90px 0 30px;
  font-size: 1.7em;
}
